* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    background: linear-gradient(125deg, #00FF57 0%, #010033 40%, #460043 70%, #F0FFC5 100%), 
                linear-gradient(55deg, #0014C9 0%, #410060 100%), 
                linear-gradient(300deg, #FFC700 0%, #001AFF 100%), 
                radial-gradient(135% 215% at 115% 40%, #393939 0%, #393939 40%, #849561 calc(40% + 1px), #849561 60%, #EED690 calc(60% + 1px), #EED690 80%, #ECEFD8 calc(80% + 1px), #ECEFD8 100%), 
                linear-gradient(125deg, #282D4F 0%, #282D4F 40%, #23103A calc(40% + 1px), #23103A 70%, #A0204C calc(70% + 1px), #A0204C 88%, #FF6C00 calc(88% + 1px), #FF6C00 100%);
    background-blend-mode: overlay, screen, overlay, overlay, normal;
}

.main {
    width: 420px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    color: white;
    position: relative;
    border-radius: 10px;
    padding: 30px 40px;
    backdrop-filter: blur(20px); /* Adds a blur effect to the background */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow */
}

.main h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
}

.main .input-box {
    width: 100%;
    height: 50px;
    margin: 30px 0;
    position: relative;
}

.input-box input {
    font-size: 17px;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    background: transparent;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #fff;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #fff;
}

.main .already {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.main .already a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

.main .already a:hover {
    color: #B8860B; /* Change color on hover */
}

.main button {
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    background-color: #A0204C;
    color: white;
    font-weight: 600;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.main button:hover {
    background-color: black; /* Darker shade on hover */
    transform: scale(1.05); /* Scale up by 5% */
}